

body {
	background-color: #f8f9fa;
}


.bottomPart{
	display: flex;
	justify-content: center;
	font-family: 'Frank Ruhl Libre', serif;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	color: #001219;
	padding-top: 30px;

}
a {
	text-decoration: underline	;
	color: 	black;
	font-family: 'Frank Ruhl Libre', serif;
	line-height: 50px;
}
h2 {
	line-height: 5px;
}

/*
.profileNils{
	display: 	block;
	padding-top: 160px;
	padding-bottom: 20px;
	padding-left: 500px;
}
h2{
	padding-left: 	80px;
	line-height: 	0.8;
font-family: 'Frank Ruhl Libre', serif;
}
a {
	text-decoration: underline	;
	color: 	black;
	line-height: 	30px;
	font-family: 'Frank Ruhl Libre', serif;
}
figcaption{
	font-family: 'Frank Ruhl Libre', serif;
}
*/
